extends layouts/default

append head
  link(rel='stylesheet' href=require('../assets/styles/styles.scss'))

append script
  script(src=require('../assets/js/index.js') type='text/javascript')

block headline
  h1 test

block content
  p test test
