.app-logo {
    width: 100px;
    height: 100px;
}

.header-left {
    float: left;
}

.header-right {
    float:right;
}

.header-container {
    display: flex;
}

.header-content {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.main-container {
    font-family: Arial, Helvetica, sans-serif;
}